/* Helper Classes */

.white-bg {
  background-color: #fff;
}

.section-header {
  padding-top: 8px;
}


/* General */

body {
  background-color: #E8E7E7;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #000;
}

a,
a:link,
a:visited {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #fccc00;
}

nav a {
  text-transform: uppercase;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #0f0f0f;
  font-size: 16px;
  margin-bottom: 10px;
  outline: none;
}

input:hover, textarea:hover, input:focus, textarea:focus {
  border-color:#fccc00;
}

.boton, .boton:link, .boton:visited, button, input[type=submit], input[type=reset] {
  display: inline-block;
  color: #fccc00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  background-color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 30px;
  border: none;
}

.boton:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover,
.boton:focus, button:focus, input[type=submit]:focus, input[type=reset]:focus,
.boton:active, button:active, input[type=submit]:active, input[type=reset]:active {
  background-color: #fccc00;
  color: #000;
  text-decoration: none;
}

.boton-ancho {
  width: 100%;
  text-align: center;
}


/*

  Hero

*/

.hero {
  background-color: #fccc00;
}


/* Navigation */

.site-nav {
  background-color: #000;
  padding: 20px 50px;
}

.site-nav a,
.site-nav a:link,
.site-nav a:visited {
  color: #fff;
  display: block;
  text-decoration: none;
  background-repeat: no-repeat;
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav a:active {
  color: #ffc10d;
}

.site-nav #logo {
  margin-bottom:30px;
}

.site-nav nav a,
.site-nav nav a:link,
.site-nav nav a:visited {
  padding: 10px 0px;
  background-image: url(../img/bullet.jpg);
  background-position: 110% center;
  -webkit-transition: background-position 0.5s ease;
     -moz-transition: background-position 0.5s ease;
          transition: background-position 0.5s ease;
}

.site-nav nav a:hover,
.site-nav nav a:focus,
.site-nav nav a:active {
  background-position: 95% center;
}

.site-nav #redes-sociales {
  margin-top: 30px;
}

.site-nav #redes-sociales a,
.site-nav #redes-sociales a:link,
.site-nav #redes-sociales a:visited {
  height: 20px;
  font-size: 12px;
  padding-left: 30px;
  margin-bottom: 10px;
  background-image: url(../img/iconos-contacto.png);
}

.site-nav #redes-sociales a:nth-child(1):hover {
  background-position: 0px -20px;
}

.site-nav #redes-sociales a:nth-child(2) {
  background-position: 0px -40px;
}

.site-nav #redes-sociales a:nth-child(2):hover {
  background-position: 0px -60px;
}


/* Main Header */

.frase-cabecera {
  padding: 90px 130px;
}

.frase-cabecera h2 {
  margin-bottom: 28px;
}


/*

  Content

*/

/* Sidebar */

#links-articulos {
  position:relative;
  display:block;
  margin-bottom:20px;
}

#links-articulos a {
  position:relative;
  display:block;
  color:#666;
  text-decoration:none;
  padding:5px 0;
}

#links-articulos a:hover {
  color:#000;
  background:url(../img/mas.png) no-repeat right center;
}

#iniciar-sesion {
  position:relative;
  display:block;
  margin-top:25px;
}

#registro {
  font-size: 16px;
  padding: 15px 0px;
}

#contenedor-boton {
  padding-right:20px;
}


/* Main */

.main {
  padding-bottom: 25px;
}

.foto {
  width: 100%;
  margin-top: 20px;
  border: 3px solid #333;
}

.foto:hover {
  border-color: #fccc00;
}

#ver-mas {
  margin-top: 30px;
}

#pie-contenido {
  background-color: #333;
  color: #fff;
  padding: 10px 5px 30px 10px;
}

#pie-contenido h4 {
  color: #fccc00;
}


/*

  Footer

*/

footer {
  background-color:#000;
  color:#878787;
  padding: 15px 0px;
}

footer h4 {
  color:#fff;
}

footer h5 {
  color: #fccc00;
  margin: 0px;
}

footer h5 small {
  color: #ccc;
  font-size: 100%;
  display: block;
  position: relative;
  left: 50%;
  top: -18px;
  text-transform: none;
}

.empresas-amigas a {
  display: inline-block;
  width: 35px;
  height: 37px;
  text-indent: -9999px;
  background-image: url(../img/iconos-alianzas.png);
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin-right: 20px;
}

.empresas-amigas a:nth-of-type(1) {
  background-position: 8px 0px;
}

.empresas-amigas a:hover{
  background-position: 8px -50px;
}

.empresas-amigas a:nth-of-type(2) {
  background-position: -55px 0px;
}

.empresas-amigas a:nth-of-type(2):hover {
  background-position: -55px -50px;
}

.empresas-amigas a:nth-of-type(3) {
  background-position: -118px -4px;
}

.empresas-amigas a:nth-of-type(3):hover {
  background-position: -118px -54px;
}

#portafolio h7 {
  font-size:15px;
  color:#fff;
  background-color:#000;
  padding:20px 23px;
}

#portafolio img {
  border:3px solid #000;
  border-bottom:68px solid #000;
}

#portafolio span {
  position:absolute;
  display:block;
  bottom:-16px;
  left:0;
  color:#fff;
  padding:23px 18px;
  font-size:15px;
  right:5px;
}
